.thumbnail {
    width: 100%;
}

.thumbnail-row {
    position: relative;
    margin-bottom: 3px;
}
.video-grid {
    display: grid;      
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}

@media (max-width:400px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:530px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



.video-title {
    margin-top: 0px;
    font-size: 7px;
    font-weight: 700;
    line-height: 10px;
    margin-bottom: 5px;
}
.video-info-grid {
    display: grid;
    grid-template-columns:20px 1fr;
}
.video-info {
    margin-left: 3px;
}
.profile-picture {
    width: 100%;
    border-radius: 20px;

}
.video-author,
.video-stats {
    font-size: 6px;
    color: rgb(96, 96, 96);
}
.video-author {
    margin-bottom: 2px;
}

.video-time {
    font-weight: 500;
    position: absolute;
    font-size: 7px;
    right: 2px;
    bottom: 8px;
    padding: 2px;
    border-radius: 2px;
    color: white;
    background-color: black;

}

